body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #515254;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #61dafb;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.movie-posters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.poster {
    width: 15%;
    transition: transform 0.3s;
}

.poster:hover {
    transform: scale(1.2);
    
}

.character {
    margin: 20px 0;
    text-align: flex;
    display: flex;
    transition: background-color 0.3s;
}

.character:hover {
    background-color: #444;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
}
.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .image-box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .image-box:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease;
  }
  
  .image-box:hover .overlay {
    transform: translateY(0);
  }
  
  .text {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
   
.cssbuttons-io-button {
    background: #0d0d0d;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
   
.button {
    min-width: 120px;
  
    position: relative;
    cursor: pointer;
  
    padding: 12px 17px;
    border: 0;
    border-radius: 7px;
  
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(
      ellipse at bottom,
      rgba(71, 81, 92, 1) 0%,
      rgba(11, 21, 30, 1) 45%
    );
  
    color: rgb(255, 255, 255, 0.66);
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .button::before {
    content: "";
    width: 70%;
    height: 1px;
  
    position: absolute;
    bottom: 0;
    left: 15%;
  
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .button:hover {
    color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .button:hover::before {
    opacity: 1;
  }
  
  
  @media (max-width: 768px) {
    header nav a {
      display: block;
      padding: 10px;
    }
  }
  @media (max-width: 480px) {
    .section h2 {
      font-size: 20px;
    }
  
    #contactForm input, #contactForm textarea {
      width: 100%;
    }
  }